html {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  /* background-color: #E5E5E5; */
  background-color: #f4763e;
  font-family: "Futura", sans-serif;
}

#info {
    position:relative;
    padding-bottom: 680px;
    font-size: 16px;
    font-weight: 500;
    color: #ffffff;
}
#info div {
    position:absolute;
    margin:0;
    padding: 10px;
}
#info div:nth-child(1) {
    top:0;
    left:0;
    z-index: 3;
}
#info div:nth-child(2) {
    top:0;
    right:0;
    z-index: 3;
}
#info div:nth-child(3) {
    bottom:0;
    left:0;
    z-index: 3;
}
#info div:nth-child(4) {
    bottom:0;
    right:0;
    z-index: 3;
    text-align: right;
}
#info div:nth-child(5) {
    top: 35%;
    left: 23.5%;
    font-size: 108px;
    font-weight: 600;
    z-index: 3;
}

/* .top {
  margin-top: 0px;
  height: 70px;
  left: 0;
  border: red;
  position: absolute;
  height: 100%;
  width: 100%;
} */

/* .info {
  font-weight: 200;
  font-family: "Futura", serif;
} */

/* #type {
  z-index: -1; */
  /* position:relative; */
/* } */

/* #myContainer {
  z-index: 100;
} */
